{
    "compiler": "modular",
    "name": "y",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {
      "iScroll":"src/scripts/lib/iscroll-master/build/",
      "pull":"src/scripts/lib/pull-to-refresh-master/"
    },
    "export": [
    	"styles/usage/app.scss",
    	"scripts/app.js"
    ]
}